html, body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: system-ui, sans-serif;
  color: #000;
  background-color: #fff;
  display: block;
}

body {
  background: url("images/background.svg") center / cover no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  color: azure;
  background-color: lightcoral;
  padding: 0px 30px 10px 30px;
}

footer {
  height: 80px;
  color: azure;
  background-color: lightcoral;
  padding: 5px 30px;
}

.articulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 20% 5% 20%;
  h1, h2, p {
    font-family: serif;
    text-align: center;
  }
  h2 {
    margin-bottom: 0px;
  }
  img {
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
  }
  picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.categorias {
  padding: 2% 2% 30% 2%;
  font-family: serif;
  ul {
    list-style: none;
  }
  a {
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
  }
}

.documentacion {
  padding: 2% 2% 30% 2%;
  h1, p {
    font-family: serif;
  }
  p {
    padding-left: 2%;
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

.header, .footer {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 18px;
    font-family: fantasy;
  }

  img {
    height: 50px;
    margin-top: auto;
  }
}

nav ul {
  list-style: none;
  padding-left: 30px;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav a {
  font-family: serif;
  text-decoration: none;
  color: azure;
}

nav a:hover {
  color: #ff6600;
}

#gif-carga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  img {
    width: 20%;
  }
}

#gif-carga.show {
  opacity: 1;
  pointer-events: all;
}

.avionSvg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.2;
  z-index: -1;
  .avion {
    position: absolute;
    width: 120px;
    stroke: #4aa3df; /* azul celeste */
    stroke-width: 3;
    fill: none;

    animation: volar 6s linear infinite;
  }
  
  .a1 { top: 10%; animation-delay: 0s; }
  .a2 { top: 25%; animation-delay: 2s; }
  .a3 { top: 40%; animation-delay: 0s; }
  .a4 { top: 55%; animation-delay: 2s; }
  .a5 { top: 70%; animation-delay: 0s; }
}

@keyframes volar {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(110vw);
  }
}

@media (max-width: 500px) {
  .articulo .montana {
    width: 100%;
    height: 100%;
  }

  #gif-carga img {
    width: 340px;
  }
}
